.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-link{
    color: #fff;
    text-decoration:none;
    font-size: 1.25rem;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 2px;
    background: #E50914;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.5s;
}
.tab-link:hover:after{
    width: 100%;
}
@media screen and (max-width: 1280px){
    .logo {
        width: 160px;
    }
    .userdetail a{
        font-size: 16px;
        line-height: 24px;
    }
    .userdetail img{
        border-radius: 6px;
        width: 38px;
    }
    .signout{
        gap: 2.5px;
    }
    .signout a{
        font-size: 18px;
        line-height: 26px;
    }
    header{
        height: 62px;
    }
    .navbar {
        gap: 5px;
    }
    .navbar ul li {
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .tab-link{
        color: #fff;
        text-decoration:none;
        font-size: 18px;
        line-height: 26px;
        position: relative;
    }
    
}

@media screen and (max-width: 768px){
    .logo {
        width: 150px;
    }
    .userdetail a{
        font-size: 16px;
        line-height: 24px;
    }
    .userdetail img{
        border-radius: 6px;
        width: 36px;
    }
    .signout{
        gap: 2.5px;
    }
    .signout a{
        font-size: 18px;
        line-height: 24px;
    }
    header{
        height: 57px;
    }
}
/* @media only screen and (max-width:800px){
    
#nav .fas{
    display: inline-block;
    
        font-size: 25px;
    }
    
    #nav ul{
        background: #E50914;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    #nav ul li{
        display: block;
        margin: 25px;
    }
    #nav ul .fas{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } */
    
    @media screen and (max-width: 640px){
        .logo {
            width: 110px;
        }
        .userdetail a{
            font-size: 14px;
            line-height: 22px;
        }
        .userdetail img{
            border-radius: 5px;
            width: 32px;
        }
        .signout{
            gap: 2px;
        }
        .signout a{
            font-size: 16px;
            line-height: 24px;
        }
        header{
            height: 55px;
        }
    }
    /* h1 {
        color: #DB5B33;
        font-weight: 300;
        text-align: center;
      }
      .display{
        display:none;
        }
  
        nav-icon {
            margin: 0 ;
            } */
        /* } */